<div class="flexBody">

    <div class="col-flex pocket">
        <!-- MENU NAVIGAZIONE -->
        <div class="d-none d-sm-block" style="width: 100%;">
            <app-menu></app-menu>
        </div>

        <!-- Element BIO 1 -->
        <div class="d-none d-sm-block row-flex aln-btw">
            <div class="img-center-box col-flex">
                <img class="img-fluid mx-auto d-block" id="imgModal" data-image="bio_img1" src="assets/images/foto1_bio.png" alt="" />
                <div class="row-flex aln-btw">
                    <div class="didascaliaContentMaxi">
                        <p class="didascalia">Inaugurazione della Galleria Artivisive - "Presenze di scultura"<br> Da sinistra: Sylvia Franchi, Alberto Boatto, Filiberto Menna, Rosario Assunto</p>
                    </div>
                </div>
            </div>
            <div class="didascaliaContentMaxi">
                <p class="bioText">
                    <strong>Sylvia Franchi</strong> nasce a Roma dove risiede. Dopo il diploma magistrale, studia Lingue e Letterature straniere presso l’Università di Roma.<br>A ventitre anni, è chiamata a dirigere la storica galleria NUMERO per la sede
                    di Roma. Nel 1968 compie, per incarico, esperienze didattiche e un viaggio di studi in Austria,ospite dell’Istituto Austriaco di cultura come Art Director e critico d’arte (Vienna, Salisburgo, S. Margheretha). Nel 1969 è tra i fondatori
                    della galleria ARTIVISIVE (nome scelto insieme allo scultore Ettore Colla), ne è
                    <strong>direttrice artistica</strong> e collabora con i maggiori critici d’arte contemporanea italiani: Giulio Carlo Argan, Domenico Amoroso, Filiberto Menna, Gillo Dorfles, Rosario Assunto, Omar Calabrese, Domenico De Masi, Achille
                    Bonito Oliva, Mirella Bentivoglio, Giovanni Carandente, Luigi Paolo Finizio, Maurizio Fagiolo Dell’Arco, Corrado Maltese, Lorenza Trucchi, Nello Ponente, Emilio Villa, Marcello Venturoli, Cesare Vivaldi, Roberto Lambarelli, Lorenzo
                    Mango, Barbara Tosi e molti altri. Tra il 1969 e 1970 organizza presso la sede di Artivisive, la Rassegna internazionale di Avanguardia Poetica ”Per una Poesia Totale” la prima e più completa presentata a Roma (fra gli editori: Lerici,
                    Geiger, Ex, Something Else Press, Tool ed altri).
                </p>
            </div>
        </div>

        <!-- Element BIO 2 -->
        <div class="d-none d-sm-block row-flex aln-btw">
            <p class="bioText">
                Nello stesso anno inizia una serie di indagini culturali in varie province con esposizioni dal titolo <i>"Geografia/1, Geografia/2, Geografia/3, Geografia/4"</i> fino al 1973. Interessata alla tapisserie organizza a Roma esposizioni di
                Enrico Accatino e nel 1970 è invitata a Lausanne ospite del governo svizzero alla <i>"5ème Biennale Internationale de la Tapisserie - Lausanne "</i> (CITAM).<br> Nel 1975 inzia la Rassegna <i>Tra Linguaggio e Immagine</i>, le mostre personali
                catalogate in <i>Artivisiveschede</i> riguardano la musica, la poesiva visiva, il design, il cinema... Nel 1977 <i>Grafica Tendenze</i> è la prima di altre mostre di graphic-design nazionali ed internazionali organizzate nella sede di
                Roma, questa Rassegna è stata richiesta dall’ISIA presso l’Università di Urbino, con la sua organizzazione.
            </p>
        </div>

        <!-- Element BIO 3 -->
        <div class="d-none d-sm-block row-flex aln-btw">
            <div class="didascaliaContentMaxi">
                <p class="bioText">
                    Nel 1978 organizza con la rivista Filmcritica una mostra dedicata al film “Immagine e Fantasma” (I misteri di un’anima) di G.W. Pabst - scomposizione/ricomposizione iconica del film con Edoardo Bruno, Jacqueline Risset, Francesco Salina. Dal 1979 viaggia
                    in Europa e in America e partecipa per invito con la galleria Artivisive alla <i>"Chicago International Art Exposition-Navy Pier, Chicago"</i> e a Basilea <i>Art 10'79' - "Art 11'80"</i> per dieci anni consecutivi.
                    Nel 1981 è invitata dal Comune di Caltagirone per organizzare la 4^ e 5^ Rassegna Nazionale della Ceramica, ( una collaborazione che durerà negli anni successivi ). Nel 1982 organizza un Convegno, a Caltagirone, sul tema: <i>Tradizione Ceramica e Produzione di Serie</i>                    con Gillo Dorfles, Filiberto Menna e altri. Cura l’allestimento di mostre nazionali ed internazionali per Enti pubblici (Istituto Italo Latino Americano (...) ed altri e di tutte le Rassegne organizzate dalla galleria Artivisive. Nel
                    1990 l'intervista: "Conversazione con Sylvia Franchi a cura di Enrico Cocuccioni", verrà pubblicata su <i>"Artivisive in</i>
                </p>
            </div>
            <div class="img-center-box col-flex m-t-30px">
                <img class="img-fluid mx-auto d-block" id="imgModal" data-image="bio_img2" src="assets/images/foto2_bio.png" alt="" />
                <div class="row-flex aln-btw">
                    <div class="didascaliaContentMaxi">
                        <p class="didascalia">Galleria Artivisive - sede di via Angelo Brunetti, Roma - 1969</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Element BIO 4 -->
        <div class="d-none d-sm-block row-flex aln-btw">
            <p class="bioText">
                <i>progress"</i> edizione Christengraf di Roma (1999).<br> Nel 1993, la galleria ARTIVISIVE si trasforma in Associazione Culturale Internazionale, di cui è <strong>fondatrice</strong>, <strong>presidente</strong> e <strong>direttrice artistica</strong>.
                L’interesse per la ricerca e gli studi nelle varie discipline dell’arte la coinvolgono nel teatro: dal 1979, è tra i soci fondatori del comitato organizzatore per la manifestazione: <i>"Il teatro della critica/La critica del teatro"</i>                e organizza nello stesso anno una serie di seminari sulle connessioni fra arte, comunicazione e spettacolo (curatori T. Danese e L. Pignotti) con interventi di Italo Moscati, Andrea Ciullo, Benedetto Simonelli, Nico Garrone, Filiberto
                Menna, Giuseppe Bartolucci, Bruno Mazzali, Pippo Di Marca (...) nella galleria Artivisive/Roma; nel 1984, "Bellis Perennis" di Andrea Ciullo al Teatro Olimpico di Roma; nel cinema, RAI-TV (1982) per il Film "Viaggio al Centro della Terra"
                (Dipartimento Scuola e Educazione) ricercatrice, consulenza artistica e aiuto alla regia, produzione RAI/TV e A. D'Angelo & C.<br> È organizzatrice e curatrice di Rassegne nazionali e internazionali di Graphic Design, Avanguardia Poetica,
                Arti Visive: "Il Cotto e Il Crudo" Caltagirone 1981 - "De Sculptura 1 e 2" Caltagirone 1982 e 1984/1985 - Foggia 1983, "Bianco Semaforo dell'Arte" - "Tridimensionale", Termoli 1984 - "Esprit de Géometrié" Foggia 1985. "L'Immagine e la
                cosa" Caltagirone 1986/'87 - "Di Terra in Terra" Caltagiorne 1989 (...) - "La Progettazione sistematica nella grafica italiana" (curatori: Sylvia Franchi e Domenico Amoroso) Caltagirone 1987, a Roma nel 1990 e a Bruxelles nel 1992 (...)<br>                "Pubblicazione XX Secolo/1" (curatori: Domenico Amoroso e Sylvia Franchi) Caltagirone 2011, a Klagenfurt 2013. E' curatrice di numerose edizioni d'arte contemporanea, tra le ultime: <i>Quadri fuori posto</i> - 2016 - di Lamberto Pignotti
                (180 copie) e
                <i>"Art Cards"</i> dello stesso autore (2017) in 25 copie.<br> Dal 1971 promuove e cura scambi culturali con l’Estero: Bern (Svizzera) - Saint Paul de Vence (Francia) - Chicago (USA) - Texas (USA) - Montreal (Canada) - Losanna (Svizzera)
                - Mùnster (Vestfalia) - Lourenço Marques, Monzambico (Africa) - Israele - San Francisco, California (USA) - Klagenfurt (Austria) - Augsburg (Austria) - Granada (Spagna) - Bruxelles (Belgio) - Hannover ( Germania) - Santa Monica, California
                (USA) - Stoccolma (Svezia) - Argentina - Zurigo (Svizzera) - Baviera (Germania) - St. Stefan, Carinzia (Austria) - Vienna (Austria) Illach (Austria) (...) Segnaliamo alcune, tra le tante <strong>interviste, citazioni e articoli</strong>:<br>                Nel 1968 "La Semaine a Rome" in occasione della Rassegna <i>Presenze di Scultura</i> dedica la copertina a Sylvia Franchi con Corrado Cagli - 1975 <i>ll Resto del Carlino</i> - Bologna "Un Kandinschy per favore?" di Giorgio Ruggeri - 1975
                <i>Le Arti</i> - Milano "Poesia al Femminile" di Anna Oberto - 1977 (31.07.1977) <i>La Voce Repubblicana</i> - Roma - Speciale <i>Voce Donne</i> a cura di Maria Venturini "A colloquio con la gallerista Sylvia Franchi - Libertà di scelta
                nella produzione artistica senza condizionamenti commerciali e politici" - 1978 (Milano, Aprile n°86) <i>D'Ars</i> - Periodico d'arte contemporanea - Rubrica<br> Segnaliamo: Artivisive di Lamberto Pignotti (...) - 1990 (10 Novembre) <i>La Stampa</i>                - Torino, "Dodici Grafici da Antologia" di Francesco Vincitorio - 1990 (21 Novembre) <i>L’Unità</i> - Roma, "Grafica e Design, la forza del messaggio" di Maria Torrente - 1990 (25 Novembre)
                <i>L'Espresso</i> "Progetti per tutti i gusti" di Stefania Incagnoli - 1990/1991 <i>Flash Art News</i> - Milano "La Progettazione Sistematica nella Grafica Italiana" di Cristina Belloni - 1991 (9 Febbraio) <i>La Repubblica</i> - Roma,
                "Quel gusto artigiano di Ridolfi architetto" di Giuseppe Strappa - 1991 ( Febbraio/Marzo) <i>Flash Art</i>, n°160, Politi Editore (Ed. Italiana) "Sylvia Franchi-Artivisive, Roma" intervista a cura di Gabriella Dalesio - 1991 (11 Giugno)
                <i>Domus</i> - Milano "Una mostra a Roma: Mario Ridolfi" di Michele Beccu - 1992 (19 Aprile)
                <i>L’Espresso</i> - Roma "Il creativo creò Repubblica" di Adriana Polveroni - Nel 1993 in occasione della mostra "Tridente Otto" sono da segnalare articoli su L’Unità, Paese Sera, Il Messaggero (...) 1993 (n°109, Marzo) <i>Il Giornale Dell’Arte</i>                Roma "Il Tridente a Palazzo" di Franco Fanelli (...) Nel 2007 <i>Arte e Critica</i>, Roma (n°53) "La Donazione Sylvia Franchi a Caltagirone" intervista a cura di Andrea Ruggeri.(...)<br> Dal 1975 partecipa per invito a Expo nazionali ed
                internazionali (Bari, Bologna, Basel (dal 1979 al 1988), Stockolm, Toulouse, London, Los Angeles, Gent)<br> Nel 2007/2008, il Comune di Caltagirone e la Regione Siciliana dedicano una edizione straordinaria della Biennale della Ceramica,
                alla “Collezione Sylvia Franchi“ donata, nel 2000, al MACC (Museo Arte Contemporanea Caltagirone). Dal 2008 è curatrice della Collezione artistica Eugenia Beck Lefebvre e direttrice delle Rassegne e Pubblicazioni a lei dedicate.<br> Nel
                2009 la Galleria Artivisive, con la sua direzione, viene inserita nella "Guida agli Archivi d'Arte del 900 a Roma e nel Lazio" editori: Fondazione la Quadriennale di Roma e Palombi.
            </p>
        </div>

        <!-- start MOBILE -->
        <nav id="navArtiVisive" class="d-block d-sm-none navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">ARTIVISIVE - Bio</a>
            <button style="float: right;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="bio">Bio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="archivio">Archivio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="design">Design e Altro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="expo">Expo e Altro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="donazioni">Donazioni</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="eventi">Eventi e Altro</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="d-block d-sm-none row-flex aln-btw">
            <div class="img-center-box row-flex">
                <div class="col-flex col-12">
                    <p class="bioText">
                        <strong>Sylvia Franchi</strong> nasce a Roma dove risiede. Dopo il diploma magistrale, studia Lingue e Letterature straniere presso l’Università di Roma.<br>A ventitre anni, è chiamata a dirigere la storica galleria NUMERO per
                        la sede di Roma. Nel 1968 compie, per incarico, esperienze didattiche e un viaggio di studi in Austria,ospite dell’Istituto Austriaco di cultura come Art Director e critico d’arte (Vienna, Salisburgo, S. Margheretha). Nel 1969
                        è tra i fondatori della galleria ARTIVISIVE (nome scelto insieme allo scultore Ettore Colla), ne è
                        <strong>direttrice artistica</strong> e collabora con i maggiori critici d’arte contemporanea italiani: Giulio Carlo Argan, Domenico Amoroso, Filiberto Menna, Gillo Dorfles, Rosario Assunto, Omar Calabrese, Domenico De Masi, Achille
                        Bonito Oliva, Mirella Bentivoglio, Giovanni Carandente, Luigi Paolo Finizio, Maurizio Fagiolo Dell’Arco, Corrado Maltese, Lorenza Trucchi, Nello Ponente, Emilio Villa, Marcello Venturoli, Cesare Vivaldi, Roberto Lambarelli, Lorenzo
                        Mango, Barbara Tosi e molti altri. Tra il 1969 e 1970 organizza presso la sede di Artivisive, la Rassegna internazionale di Avanguardia Poetica ”Per una Poesia Totale” la prima e più completa presentata a Roma (fra gli editori:
                        Lerici, Geiger, Ex, Something Else Press, Tool ed altri).
                    </p>
                </div>
            </div>
        </div>

        <div class="d-block d-sm-none row-flex aln-btw">
            <div class="img-center-box row-flex">
                <div class="col-flex col-12">
                    <img class="img-fluid mx-auto d-block" id="imgModal" data-image="bio_img1" src="assets/images/foto1_bio.png" alt="" />
                    <p class="didascalia">Inaugurazione della Galleria Artivisive- "Presenze di scultura"<br> Da sinistra: Sylvia Franchi, Alberto Boatto, Filiberto Menna, Rosario Assunto</p>
                </div>
            </div>
        </div>

        <div class="d-block d-sm-none row-flex aln-btw">
            <div class="img-center-box row-flex">
                <div class="col-flex col-12">
                    <p class="bioText">
                        Nello stesso anno inizia una serie di indagini culturali in varie province con esposizioni dal titolo <i>"Geografia/1, Geografia/2, Geografia/3, Geografia/4"</i> fino al 1973. Interessata alla tapisserie organizza a Roma esposizioni
                        di Enrico Accatino e nel 1970 è invitata a Lausanne ospite del governo svizzero alla <i>"5ème Biennale Internationale de la Tapisserie - Lausanne "</i> (CITAM).<br> Nel 1975 inzia la Rassegna <i>Tra Linguaggio e Immagine</i>, le
                        mostre personali catalogate in <i>Artivisiveschede</i> riguardano la musica, la poesiva visiva, il design, il cinema... Nel 1977 <i>Grafica Tendenze</i> è la prima di altre mostre di graphic-design nazionali ed internazionali organizzate
                        nella sede di Roma, questa Rassegna è stata richiesta dall’ISIA presso l’Università di Urbino, con la sua organizzazione.
                    </p>
                </div>
            </div>
        </div>

        <div class="d-block d-sm-none row-flex aln-btw">
            <div class="img-center-box row-flex">
                <div class="col-flex col-12">
                    <img class="img-fluid mx-auto d-block" id="imgModal" data-image="bio_img2" src="assets/images/foto2_bio.png" alt="" />
                    <p class="didascalia">Inaugurazione della Galleria Artivisive- "Presenze di scultura"<br> Da sinistra: Sylvia Franchi, Alberto Boatto, Filiberto Menna, Rosario Assunto</p>
                </div>
            </div>
        </div>

        <div class="d-block d-sm-none row-flex aln-btw">
            <div class="img-center-box row-flex">
                <div class="col-flex col-12">
                    <p class="bioText">
                        Nel 1978 organizza con la rivista Filmcritica una mostra dedicata al film “Immagine e Fantasma” (I misteri di un’anima) di G.W. Pabst - scomposizione/ricomposizione iconica del film con Edoardo Bruno, Jacqueline Risset, Francesco Salina. Dal 1979 viaggia
                        in Europa e in America e partecipa per invito con la galleria Artivisive alla <i>"Chicago International Art Exposition-Navy Pier, Chicago"</i> e a Basilea <i>Art 10'79' - "Art 11'80"</i> per dieci anni consecutivi.
                        Nel 1981 è invitata dal Comune di Caltagirone per organizzare la 4^ e 5^ Rassegna Nazionale della Ceramica, ( una collaborazione che durerà negli anni successivi ). Nel 1982 organizza un Convegno, a Caltagirone, sul tema: <i>Tradizione Ceramica e Produzione di Serie</i>                        con Gillo Dorfles, Filiberto Menna e altri. Cura l’allestimento di mostre nazionali ed internazionali per Enti pubblici (Istituto Italo Latino Americano (...) ed altri e di tutte le Rassegne organizzate dalla galleria Artivisive.
                        Nel 1990 l'intervista: "Conversazione con Sylvia Franchi a cura di Enrico Cocuccioni", verrà pubblicata su <i>"Artivisive in</i>
                    </p>
                </div>
            </div>
        </div>

        <div class="d-block d-sm-none row-flex aln-btw">
            <div class="img-center-box row-flex">
                <div class="col-flex col-12">
                    <p class="bioText">
                        <i>progress"</i> edizione Christengraf di Roma (1999).<br> Nel 1993, la galleria ARTIVISIVE si trasforma in Associazione Culturale Internazionale, di cui è <strong>fondatrice</strong>, <strong>presidente</strong> e <strong>direttrice artistica</strong>.
                        L’interesse per la ricerca e gli studi nelle varie discipline dell’arte la coinvolgono nel teatro: dal 1979, è tra i soci fondatori del comitato organizzatore per la manifestazione: <i>"Il teatro della critica/La critica del teatro"</i>                        e organizza nello stesso anno una serie di seminari sulle connessioni fra arte, comunicazione e spettacolo (curatori T. Danese e L. Pignotti) con interventi di Italo Moscati, Andrea Ciullo, Benedetto Simonelli, Nico Garrone, Filiberto
                        Menna, Giuseppe Bartolucci, Bruno Mazzali, Pippo Di Marca (...) nella galleria Artivisive/Roma; nel 1984, "Bellis Perennis" di Andrea Ciullo al Teatro Olimpico di Roma; nel cinema, RAI-TV (1982) per il Film "Viaggio al Centro della
                        Terra" (Dipartimento Scuola e Educazione) ricercatrice, consulenza artistica e aiuto alla regia, produzione RAI/TV e A. D'Angelo & C.<br> È organizzatrice e curatrice di Rassegne nazionali e internazionali di Graphic Design, Avanguardia
                        Poetica, Arti Visive: "Il Cotto e Il Crudo" Caltagirone 1981 - "De Sculptura 1 e 2" Caltagirone 1982 e 1984/1985 - Foggia 1983, "Bianco Semaforo dell'Arte" - "Tridimensionale", Termoli 1984 - "Esprit de Géometrié" Foggia 1985.
                        "L'Immagine e la cosa" Caltagirone 1986/'87 - "Di Terra in Terra" Caltagiorne 1989 (...) - "La Progettazione sistematica nella grafica italiana" (curatori: Sylvia Franchi e Domenico Amoroso) Caltagirone 1987, a Roma nel 1990 e
                        a Bruxelles nel 1992 (...)<br> "Pubblicazione XX Secolo/1" (curatori: Domenico Amoroso e Sylvia Franchi) Caltagirone 2011, a Klagenfurt 2013. E' curatrice di numerose edizioni d'arte contemporanea, tra le ultime: <i>Quadri fuori posto</i>                        - 2016 - di Lamberto Pignotti (180 copie) e
                        <i>"Art Cards"</i> dello stesso autore (2017) in 25 copie.<br> Dal 1971 promuove e cura scambi culturali con l’Estero: Bern (Svizzera) - Saint Paul de Vence (Francia) - Chicago (USA) - Texas (USA) - Montreal (Canada) - Losanna
                        (Svizzera) - Mùnster (Vestfalia) - Lourenço Marques, Monzambico (Africa) - Israele - San Francisco, California (USA) - Klagenfurt (Austria) - Augsburg (Austria) - Granada (Spagna) - Bruxelles (Belgio) - Hannover ( Germania) - Santa
                        Monica, California (USA) - Stoccolma (Svezia) - Argentina - Zurigo (Svizzera) - Baviera (Germania) - St. Stefan, Carinzia (Austria) - Vienna (Austria) Illach (Austria) (...) Segnaliamo alcune, tra le tante <strong>interviste, citazioni e articoli</strong>:<br>                        Nel 1968 "La Semaine a Rome" in occasione della Rassegna <i>Presenze di Scultura</i> dedica la copertina a Sylvia Franchi con Corrado Cagli - 1975 <i>ll Resto del Carlino</i> - Bologna "Un Kandinschy per favore?" di Giorgio Ruggeri
                        - 1975
                        <i>Le Arti</i> - Milano "Poesia al Femminile" di Anna Oberto - 1977 (31.07.1977) <i>La Voce Repubblicana</i> - Roma - Speciale <i>Voce Donne</i> a cura di Maria Venturini "A colloquio con la gallerista Sylvia Franchi - Libertà
                        di scelta nella produzione artistica senza condizionamenti commerciali e politici" - 1978 (Milano, Aprile n°86) <i>D'Ars</i> - Periodico d'arte contemporanea - Rubrica<br> Segnaliamo: Artivisive di Lamberto Pignotti (...) - 1990
                        (10 Novembre) <i>La Stampa</i> - Torino, "Dodici Grafici da Antologia" di Francesco Vincitorio - 1990 (21 Novembre) <i>L’Unità</i> - Roma, "Grafica e Design, la forza del messaggio" di Maria Torrente - 1990 (25 Novembre)
                        <i>L'Espresso</i> "Progetti per tutti i gusti" di Stefania Incagnoli - 1990/1991 <i>Flash Art News</i> - Milano "La Progettazione Sistematica nella Grafica Italiana" di Cristina Belloni - 1991 (9 Febbraio) <i>La Repubblica</i>                        - Roma, "Quel gusto artigiano di Ridolfi architetto" di Giuseppe Strappa - 1991 ( Febbraio/Marzo) <i>Flash Art</i>, n°160, Politi Editore (Ed. Italiana) "Sylvia Franchi-Artivisive, Roma" intervista a cura di Gabriella Dalesio -
                        1991 (11 Giugno)
                        <i>Domus</i> - Milano "Una mostra a Roma: Mario Ridolfi" di Michele Beccu - 1992 (19 Aprile)
                        <i>L’Espresso</i> - Roma "Il creativo creò Repubblica" di Adriana Polveroni - Nel 1993 in occasione della mostra "Tridente Otto" sono da segnalare articoli su L’Unità, Paese Sera, Il Messaggero (...) 1993 (n°109, Marzo) <i>Il Giornale Dell’Arte</i>                        Roma "Il Tridente a Palazzo" di Franco Fanelli (...) Nel 2007 <i>Arte e Critica</i>, Roma (n°53) "La Donazione Sylvia Franchi a Caltagirone" intervista a cura di Andrea Ruggeri.(...)<br> Dal 1975 partecipa per invito a Expo nazionali
                        ed internazionali (Bari, Bologna, Basel (dal 1979 al 1988), Stockolm, Toulouse, London, Los Angeles, Gent)<br> Nel 2007/2008, il Comune di Caltagirone e la Regione Siciliana dedicano una edizione straordinaria della Biennale della
                        Ceramica, alla “Collezione Sylvia Franchi“ donata, nel 2000, al MACC (Museo Arte Contemporanea Caltagirone). Dal 2008 è curatrice della Collezione artistica Eugenia Beck Lefebvre e direttrice delle Rassegne e Pubblicazioni a lei
                        dedicate.
                        <br> Nel 2009 la Galleria Artivisive, con la sua direzione, viene inserita nella "Guida agli Archivi d'Arte del 900 a Roma e nel Lazio" editori: Fondazione la Quadriennale di Roma e Palombi.
                    </p>
                </div>
            </div>
        </div>
        <!-- end MOBILE -->
    </div>

    <!-- Modal -->
    <div id="artiVisiveModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h6 class="modal-title"></h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div style="margin: 0 auto;" class="modal-body">
            </div>
        </div>
        </div>
    </div>
</div>